<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<!--<style layout:fragment="css">-->
<!--    /*.container {*/-->
<!--    /*    max-width: 560px;*/-->
<!--    /*}*/-->
<!--    여기에 필요하면 위 처럼 css    -->
<!--</style>-->

<!--<script layout:fragment="script">-->
<!--    여기에 필요하면 javascript -->
<!--</script>-->

<div layout:fragment="content">
    <!--    이 태그로 감싸서 본문 작성    -->

    <div>로그인 홈</div>

    <!--    -->
</div>

</html>